<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>
        Color Selector - Color Picker Online
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta lang="en" name="description" content="Color Selector, to help you find the color you like, copy its code for your work.">
    <meta lang="en" name="keywords" content="Color Selector,Color Picker,hex color picker,rgb color picker,html color codes,html color picker,hex code,hex colors,color code,color hex codes,hex codes.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta property="og:title" content="Color Selector - Color Picker Online">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.jsonformatting.com/">
    <meta property="og:image" content="https://www.jsonformatting.com/assets/icon/json.png">
    <meta property="og:description" content="Color Selector, to help you find the color you like, copy its code for your work.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Color Selector - Color Picker Online">
    <link href="/assets/icon/json.png" rel="icon">
    <link rel="preconnect" href="https://www.jsonformatting.com/" crossorigin>
    <link rel="stylesheet" href="/index/index-assets/css/mobirise-icons.css"
          rel="preload" as="style">
    <link rel="stylesheet" href="/index/index-assets/css/bootstrap.min.css"
          media="none" onload="this.media='all'">
    <link rel="stylesheet" href="/index/index-assets/css/style.css" media="none"
          onload="this.media='all'">
    <link rel="stylesheet" href="/index/index-assets/css/theme-style.css">
    <link rel="stylesheet" href="/index/index-assets/css/mbr-additional.css">
    <link rel="stylesheet" href="/color/color-asets/css/common.css">
    <style>
        h1 { font-size: 16px; cursor:pointer; float: right; margin-top: 6px; }
        .justify-content-center div { border: 0; } td { border: 0 !important; }
        #recommendation { margin-top: 30px; margin-left: 5px; } .nav-link { font-size:
                16px; } .card { position: relative; display: flex; flex-direction: column;
                            min-width: 0; background-color: #fff; background-clip: border-box; border:
                    1px solid rgba(0,0,0,.125); border-radius: .25rem; } .form-control { background-color:
                white; display: block; width: 100%; height: calc(1.5em + .75rem + 2px);
                                                                             padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height:
                    1.5; color: #495057; background-clip: padding-box; border: 1px solid #ced4da;
                                                                             border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow
            .15s ease-in-out; } .btn { display: inline-block; font-weight: 400; color:
                #212529; text-align: center; vertical-align: middle; user-select: none;
                                    background-color: transparent; border: 1px solid transparent; transition:
                    color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s
                    ease-in-out,box-shadow .15s ease-in-out; }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/assets/icon/json.png" width="30" height="30" class="d-inline-block align-top"
             alt="website image" loading="lazy">
        <h1>
            Color Selector
        </h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
				</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-Formatters"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Formatters
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/json-format/">
                        JSON Formatter
                    </a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item" href="/xml-format/">
                        XML Formatter
                    </a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item" href="/html-formatter/">
                        HTML Formatter
                    </a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item" href="/js-beautifier/">
                        Javascript Formatter
                    </a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item" href="/css-beautifier/">
                        CSS Formatter
                    </a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item" href="/json-compare/">
                        JSON Compare
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-Minify"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Minify
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/js-minify/">
                        JS Minify
                    </a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item" href="/css-minify/">
                        CSS Minify
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-Conversion"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Conversion
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/json-to-xml/">
                        JSON To XML
                    </a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item" href="/json-to-java/">
                        JSON To JAVA
                    </a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item" href="/xml-to-json/">
                        XML To JSON
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-Development"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Development
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/color/">
                        Color Selector
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-Encode"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Encode/Decoders
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/md5/">
                        MD5 HASH
                    </a>
                </div>
            </li>
        </ul>
        <button type="button" onclick="window.location.href='/'" class="btn btn-danger"
                style="padding: 6px 8px">
            HOME
        </button>
    </div>
</nav>
<section class="mbr-section form1 cid-rdbncPfKM0" id="form1-14">
    <div class="container">
        <div class="row">
            <div id="cs" class="container">
                <div class="card">
                    <div class="card-header">
                        <h2>
									<span class="text-primary">
										Color Picker
									</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <div id="chip" class="rounded border border-secondary shadow-sm">
                                </div>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control mb-2" readonly="readonly" value="rgb(255,255,255)"
                                       v-model="rgbcode">
                                <div class="input-group">
                                    <div class="input-group-prepend">
												<span class="input-group-text">
													#
												</span>
                                    </div>
                                    <input type="text" class="form-control" value="FFFFFF" v-model="hexcode">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table mt-4 table-sm">
                                <colgroup>
                                    <col width="">
                                    <col width="50%">
                                    <col width="">
                                    <col width="">
                                </colgroup>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Slider
                                    </th>
                                    <th>
                                        DEC
                                    </th>
                                    <th>
                                        HEX
                                    </th>
                                </tr>
                                <tr>
                                    <td class="pt-2">
                                        R
                                    </td>
                                    <td>
                                        <input @mousemove="makecode" v-model="reddec" type="range" class="form-control-range mt-2"
                                               min="0" max="255" value="255">
                                    </td>
                                    <td>
                                        <input @keyup="makecode" v-model="reddec" type="number" class="form-control"
                                               value="255">
                                    </td>
                                    <td>
                                        <input @keyup="makecode" v-model="redhex" type="text" class="form-control"
                                               value="FF">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pt-2">
                                        G
                                    </td>
                                    <td>
                                        <input @mousemove="makecode" v-model="greendec" type="range" class="form-control-range mt-2"
                                               min="0" max="255" value="255">
                                    </td>
                                    <td>
                                        <input @keyup="makecode" v-model="greendec" type="number" class="form-control"
                                               value="255">
                                    </td>
                                    <td>
                                        <input @keyup="makecode" v-model="greenhex" type="text" class="form-control"
                                               value="FF">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pt-2">
                                        B
                                    </td>
                                    <td>
                                        <input @mousemove="makecode" v-model="bluedec" type="range" class="form-control-range mt-2"
                                               min="0" max="255" value="255">
                                    </td>
                                    <td>
                                        <input @keyup="makecode" v-model="bluedec" type="number" class="form-control"
                                               value="255">
                                    </td>
                                    <td>
                                        <input @keyup="makecode" v-model="bluehex" type="text" class="form-control"
                                               value="FF">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <button @click="addchip" type="button" class="btn btn-sm border-primary">
                            Add Color
                        </button>
                        <div class="row">
                            <input type="text" id="copyform" style="position: fixed; top: -10000px">
                            <div class="card chip" v-for="(item,index) in chips" style="overflow: hidden">
                                <div class="card-body" v-bind:style="{backgroundColor:'#'+item}">
                                </div>
                                <div @click="copycode('#'+item,index)" @mouseover="showinfo(index)" @mouseout="hideinfo(index)"
                                     class="card-footer">
                                    #{{ item }}
                                </div>
                                <div @click="delchip(index)" class="badge badge-danger" v-bind:no="index">
                                    &times;
                                </div>
                                <div class="copyinfo">
                                    Copy to clipboard
                                </div>
                            </div>
                        </div>
                        <div class="row" id="recommendation">
                            <blockquote style="border-left: 4px solid #DDD;padding: 0 15px;color: #777;text-align: left;font-size: 16px">
                                Don't know what color to choose?
                                <a href="/random-color/">
                                    See my recommendation
                                </a>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card-header">
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
                        </script>
                        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3292250109309115"
                             data-ad-slot="2574845222" data-ad-format="auto" data-full-width-responsive="true">
                        </ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section content4 single-div-title" id="content4-1b">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h3 class="align-center pb-3 mbr-fonts-style display-5">
                    TOOLS
                </h3>
            </div>
        </div>
    </div>
</section>
<section class="features10 cid-rd4LTOBu7T" id="features10-2e">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <a href="/json-format/" target="_blank" title="json format">
									<span class="mbr-iconfont mbri-website-theme" style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204)">
									</span>
                        </a>
                    </div>
                    <h2 class="card-title media-body py-3 mbr-fonts-style display-7" style="text-align: left">
                        <a href="/json-format/" target="_blank" class="text-black" title="json format">
                            JSON Formatter
                        </a>
                    </h2>
                </div>
                <div class="card-box">
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <a href="/xml-format/" target="_blank" title="xml format">
									<span class="mbr-iconfont mbri-website-theme" style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204)">
									</span>
                        </a>
                    </div>
                    <h2 class="card-title media-body py-3 mbr-fonts-style display-7" style="text-align: left">
                        <a href="/xml-format/" target="_blank" class="text-black" title="xml format">
                            XML Formatter
                        </a>
                    </h2>
                </div>
                <div class="card-box">
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <a href="/html-formatter/" target="_blank" title="html foramt">
									<span class="mbr-iconfont mbri-website-theme" style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204)">
									</span>
                        </a>
                    </div>
                    <h2 class="card-title media-body py-3 mbr-fonts-style display-7" style="text-align: left">
                        <a href="/html-formatter/" target="_blank" class="text-black" title="html foramt">
                            HTML Formatter
                        </a>
                    </h2>
                </div>
                <div class="card-box">
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <a href="/js-beautifier/" target="_blank" title="javascript format">
									<span class="mbr-iconfont mbri-website-theme" style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204)">
									</span>
                        </a>
                    </div>
                    <h2 class="card-title media-body py-3 mbr-fonts-style display-7" style="text-align: left">
                        <a href="/js-beautifier/" target="_blank" class="text-black" title="javascript format">
                            Js Beautifier
                        </a>
                    </h2>
                </div>
                <div class="card-box">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features10 cid-rd4LVxbraW" id="features10-2g">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <a href="/json-compare/" target="_blank" title="json compare">
									<span class="mbr-iconfont mbri-website-theme" style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204)">
									</span>
                        </a>
                    </div>
                    <h2 class="card-title media-body py-3 mbr-fonts-style display-7" style="text-align: left">
                        <a href="/json-compare/" target="_blank" class="text-black" title="json compare">
                            JSON Compare
                        </a>
                    </h2>
                </div>
                <div class="card-box">
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <a href="/json-to-xml/" target="_blank" title="json-to-xml">
									<span class="mbr-iconfont mbri-share" style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204)">
									</span>
                        </a>
                    </div>
                    <h2 class="card-title media-body py-3 mbr-fonts-style display-7" style="text-align: left">
                        <a href="/json-to-xml/" target="_blank" class="text-black" title="json-to-xml">
                            JSON TO XML
                        </a>
                    </h2>
                </div>
                <div class="card-box">
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <a href="/json-to-java/" target="_blank" title="json-to-java">
									<span class="mbr-iconfont mbri-share" style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204)">
									</span>
                        </a>
                    </div>
                    <h2 class="card-title media-body py-3 mbr-fonts-style display-7" style="text-align: left">
                        <a href="/json-to-java/" target="_blank" class="text-black" title="json-to-java">
                            JSON TO JAVA
                        </a>
                    </h2>
                </div>
                <div class="card-box">
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <a href="/xml-to-json/" target="_blank" title="xml-to-json">
									<span class="mbr-iconfont mbri-share" style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204)">
									</span>
                        </a>
                    </div>
                    <h2 class="card-title media-body py-3 mbr-fonts-style display-7" style="text-align: left">
                        <a href="/xml-to-json/" target="_blank" class="text-black" title="xml-to-json">
                            XML TO JSON
                        </a>
                    </h2>
                </div>
                <div class="card-box">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features10 cid-rd4LWizQrU" id="features10-2h">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <a href="/css-beautifier/" target="_blank" title="CSS FORMATTER">
									<span class="mbr-iconfont mbri-website-theme" style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204)">
									</span>
                        </a>
                    </div>
                    <h2 class="card-title media-body py-3 mbr-fonts-style display-7" style="text-align: left">
                        <a href="/css-beautifier/" target="_blank" class="text-black" title="CSS FORMATTER">
                            CSS FORMATTER
                        </a>
                    </h2>
                </div>
                <div class="card-box">
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <a href="/js-minify/" target="_blank" title="JS MINIFY">
									<span class="mbr-iconfont mbri-drag-n-drop2" style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204)">
									</span>
                        </a>
                    </div>
                    <span class="card-title media-body py-3 mbr-fonts-style display-7" style="text-align: left">
								<a href="/js-minify/" target="_blank" class="text-black" title="JS MINIFY">
									JS Minify
								</a>
							</span>
                </div>
                <div class="card-box">
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <a href="/md5/" target="_blank" title="MD5 HASH">
									<span class="mbr-iconfont mbri-lock" style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204)">
									</span>
                        </a>
                    </div>
                    <h2 class="card-title media-body py-3 mbr-fonts-style display-7" style="text-align: left">
                        <a href="/md5/" target="_blank" class="text-black" title="MD5 HASH">
                            MD5 HASH
                        </a>
                    </h2>
                </div>
                <div class="card-box">
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <a href="/color/" target="_blank" title="Color Selector">
									<span class="mbr-iconfont mbri-pages" style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204)">
									</span>
                        </a>
                    </div>
                    <h2 class="card-title media-body py-3 mbr-fonts-style display-7" style="text-align: left">
                        <a href="/color/" target="_blank" class="text-black" title="Color Selector">
                            Color Selector
                        </a>
                    </h2>
                </div>
                <div class="card-box">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cid-rcYe6fBSWK">
    <div class="ads-div-two">
        <div id="ads-two">
            <div class="HeadersRow">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
                </script>
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3292250109309115"
                     data-ad-slot="2574845222" data-ad-format="auto" data-full-width-responsive="true">
                </ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</section>
<section class="cid-rcYgJaHLCV mbr-reveal" id="footer1-13">
    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="https://www.jsonformatting.com/">
                        <img src="/assets/icon/json.png" alt="website icon" style="height: 60px; width: 60px">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Contacts
                </h5>
                <p class="mbr-text">
                    Email: nalani5210@gmail.com
                    <br>
                    <br>
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Links
                </h5>
                <p class="mbr-text">
                    <a class="text-black" href="https://github.com/pingfangushi/screw" title="screw"
                       rel="noopener" target="_blank">
                        Table structure generator
                    </a>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © 2018 - 2020
                        <a href="/" title="Visit https://www.jsonformatting.com">
                            JSONFormatting
                        </a>
                        -
                        <a href="/private/" title="Visit Privacy Policy">
                            Privacy Policy
                        </a>
                    </p>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
</section>
<div id="scrollToTop" class="scrollToTop mbr-arrow-up">
			<span style="text-align: center">
				<i>
				</i>
			</span>
</div>
<script defer="defer" src="/index/index-assets/js/jquery.min.js">
</script>
<script defer="defer" src="/index/index-assets/js/bootstrap.min.js">
</script>
<script defer="defer" src="/index/index-assets/js/script.js">
</script>
<script defer="defer" src="/color/color-asets/js/vue.js">
</script>
<script defer="defer" src="/color/color-asets/js/script.js">
</script>
</body>

</html>