@font-face {
    font-family: mobiriseicons;
    src: url(../fonts/mobirise-icons.eot?spat4u);
    src: url(../fonts/mobirise-icons.eot?spat4u#iefix) format('embedded-opentype'),url(../fonts/mobirise-icons.ttf?spat4u) format('truetype'),url(../fonts/mobirise-icons.woff?spat4u) format('woff'),url(../fonts/mobirise-icons.svg?spat4u#MobiriseIcons) format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

[class^=mbri-],[class*=" mbri-"] {
    font-family:MobiriseIcons!important;
    speak:none;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.mbri-arrow-down:before {
    content:"\e908"
}
.mbri-arrow-up:before {
    content:"\e90b"
}
.mbri-calendar:before {
    content:"\e912"
}
.mbri-lock:before {
    content:"\e947"
}
.mbri-pages:before {
    content:"\e956"
}
.mbri-share:before {
    content:"\e96f"
}
.mbri-website-theme:before {
    content:"\e990"
}
.mbri-drag-n-drop2:before {
    content:"\e928";
}
