#editor,#source {
    height: 370px;
}
.classh4 {
    border: 1px solid #dfdfdf;
    padding: 1.3rem 2rem;
    margin-bottom: 0;
    font-family: rubik,sans-serif;
    font-size: 1.5rem;
}
.card-box {
    text-align: center;
}
