#editor,#source {
    height: 370px;
}
.classh4 {
    border: 1px solid #dfdfdf;
    padding: 1.3rem 2rem;
    margin-bottom: 0;
    font-family: rubik,sans-serif;
    font-size: 1.5rem;
}
.card-box {
    text-align: center;
}

#ads,#ads-two {
    background: white;
    margin: 0 auto;
    width: 60%;
    height: 60%;
}

.ads-div {
    margin-top: -20px;
}

.ads-div-two {
    margin-top: 0;
}

